/* Google font */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,700;0,800;0,900;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --main-color: #d90429;
    --text-color: #020102;
    --bg-color: #fff; 
}

img{
    width: 100%;
}

body{
    color: var(--text-color);

}

.btn{
    background-color: var(--main-color);
    color: #fff;
    width: 100%;
    padding: 2%;
    border: none;
    width: 122%;
    height: 122%;
}

.btn:hover{
    background-color: #add8e6;
}

.container{
    max-width: 1068px;
    margin-left: auto;
    margin-right: auto;
}

header{
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.nav{
    display: flex;
    align-items: center;
    
    justify-content: space-between;
    padding: 20px 35px;
}

#menu-icon{
    font-size: 24px;
    cursor: pointer;
    color: var(--text-color);
    display: none;
}

.logo{
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-color);
}

.logo span{
    color: var(--main-color);
}

.navbar{
    display: flex;
    column-gap: 2rem;
}

.navbar a{
    color: var(--text-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}
.navbar a:hover, .navbar a:active{
    columns: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
.search-box{
    position: absolute;
    top: 110%;
    right: 0;
    left: 0;
    background: var(--bg-color);
    box-shadow: 4px 4px 200px rgb(15 54 55 /10%);
    border-radius: 0.5rem;
    /* clip-path: circle(0% at 100% 0%); */
}
.search-box input{
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;
}

#search-icon{
    cursor: pointer;
    font-size: 24px;
}

.search-box.active{
    /* clip-path: circle(144% at 100% 0%); */
    transition: 0.5s;
}

.home{
    max-width: 1300px;
    margin: auto;
    width: 100%;
    min-height: 640px;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
    background: url(img/Background-home.png);
    
}

.home-text{
    padding-left: 130px;
}

.home-text h1{
    font-size: 1.4rem;
}
.home-text span{
    color: var(--main-color);
}

.img{
    margin-left: 2%;
    border-style: dashed;
    border-radius: 12%;
    border: none;
    height: 120%;
    margin-top: 5%;
}

.headings{
    text-align: center;
    }

.headings span{
    font-weight: 500;
    color: var(--main-color);
}

.headings p{
    font-size: 0.93rem;
    font-weight: 300;
}

.cars-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}

.cars-container .box{
    flex: 1 1 17rem;
    position: relative;
    height: 200px;
    border-radius: 0.5rem;
    overflow: hidden;
}

.cars-container .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
.cars-container .box img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.cars-container h2{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-weight: 400;
    font-size: 1rem;
    background-color: var(--bg-color);
    padding: 8px;
}

.cars-container .box:hover h2{
    background: var(--bg-color);
    color: var(--main-color);
}

.about{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
.about img{
    margin-top: 17%;
   gap: 1.5rem;
    width: 100%;
}

.about-text{
    gap: 1.5rem;
    align-items: center;
}

.about-text span{
    font-weight: 500;
    color: var(--main-color);
}

.login{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

.img-login{
    padding: 3%;
    align-items: center;
    margin-left: 20%;
    margin-top: 7%;
    border-radius: 12%;
}


.login-form-container.active{
    top: 0;
    opacity: 1;
}

.login-form-container{
    align-items: center;
    justify-content: center;
    margin: 2%;
    margin-left: 3%;
    margin-top: 10%;
    gap: 2rem;
    /* background-color: #d90429; */
}
.login-form-container h3{
    font-weight: 400;
    color: var(--main-color);

}

.login-form-container input{
    gap: 2 rem;
    margin-top: 2%;
    color: black;
    font-size: 12px;
}
.login-form-container p{
    margin-top: 2%;
}

/* registration */

/*form styles*/
#form {
	width: 400px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
#form fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#form fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#form input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#form .action-button {
	width: 100px;
	background: #ae2727;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px;
	margin: 10px 5px;
  text-decoration: none;
  font-size: 14px;
}
#form .action-button:hover{
    background-color: #add8e6;}
 
#form .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px blueviolet;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}

.form-control.error{
    color: var(--main-color);
}

/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}



